.App {
  height: 100vh;
}

.navbar-dark {
  background-color: #116979;
}

.navbar .fa {
  color: #de7119;
}

#FootComp {
  background-color: #116979;
  text-align: center;
}

#FootComp a {
  padding: 20px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  color: #de7119;
}

#FootComp p {
  margin: 0;
  color: #f0e8e3;
}

.welcome {
  opacity: 0.9;
  border-style: solid;
  border-color: #de7119;
  border-radius: 5px 100px;
  text-align: center;
  background-color: #116979;
}

.welcome .fa {
  margin: 5% auto;
  font-size: 30px;
  width: 50px;
  text-align: center;
  color: #de7119;
  transition: all 0.3s ease-in-out;
}

.welcome .fa:hover {
  transform: scale(1.2);
  transform: translateXY(10vh);
}

.welcome p {
  color: white;
}

.welcome img {
  height: 20vh;
  width: 15vw;
  padding: 2vh 2vw;
}

.error {
  color: #de7119;
}

@media only screen and (min-width: 0px) and (max-width: 679px) {
  .welcome .fa {
    font-size: 25px;
    width: 30px;
  }

  .welcome img {
    height: 15vh;
    width: 35vw;
  }
}

@media only screen and (min-width: 680px) and (max-width: 1024px) {
  .welcome .fa {
    font-size: 30px;
    width: 35px;
  }

  .welcome img {
    height: 13vh;
    width: 20vw;
  }
}